.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: auto;
}

.text {
  color: var(--text-color);
  text-align: center;
  font-size: 31px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}

@media (max-width: 768px) {
  .success img {
    width: 300px;
    height: 300px;
  }
}
